<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All_Projects_Testing">
  <test thread-count="5" name="Suite_Testing">
    <classes>
      <class name="AQAclass.A1_Alerts"/>
      <class name="AQAclass.B12_Assert1"/>
      <class name="AQAclass.A9_Enhancing_StudentQAForm"/>
      <class name="AQAclass.B10_Autoit"/>
      <class name="AQAclass.B16_Print_ALLlinks_concept"/>
      <class name="AQAclass.A8_Boolean_Oneway"/>
      <class name="AQAclass.B20_ScrollBar_Element"/>
      <class name="AQAclass.B13_Assert_Verify2"/>
      <class name="AQAclass.B17_Ajaxcontrol"/>
      <class name="AQAclass.B14_FlipkartGeneric"/>
      <class name="AQAclass.A3_Popupwindow"/>
      <class name="AQAclass.A5_Screenshot"/>
      <class name="AQAclass.A2_MouseOverActions"/>
      <class name="AQAclass.A4_Information_Commands"/>
      <class name="AQAclass.B11_Array"/>
      <class name="AQAclass.A7_INR_optionsvalidation"/>
      <class name="AQAclass.B15_Frames"/>
      <class name="AQAclass.A6_Firstselectedoption"/>
    </classes>
  </test> <!-- Suite_Testing -->
</suite> <!-- All_Projects_Testing -->
